.page-botox
  Loader(v-if='loading')
  section.inner-header(:style="{ backgroundImage: 'url('+ props.better_featured_image.source_url +')' }")
   .inner-page-banner.inner-page-banner-description Quality dental care can transform your life.
   .clearfix
  section.site-wrapper
   main.content-area
    .content
      article
        h1.content-title Bradenton Botox
        .entry-content
          p
            | Botox® and Juvéderm® treatments can be great, inexpensive alternatives to cosmetic surgery. They smooth creases, lines, and wrinkles in the face, leaving patients with a younger, more rested, and relaxed appearance. Dr. Naidu received his training in providing them at the Esthetic Skin Institute in Fort Lauderdale.
            br
            img.alignright.size-full.wp-image-301(src='../../assets/images/photo-of-brow-before-after-bradenton-botox.jpg', alt='')
          h2 Bradenton Botox Treatment
          p
            | Botox is a prescription medication that is injected into specific small muscles in the face that, when contracted, cause frown and laugh lines. It inhibits movement in those muscles, smoothing and softening the skin, giving you a more youthful look.
          p
            | Botox treatment doesn’t take very long, and the injections themselves only take a few seconds. Sometimes patients experience mild discomfort, redness, or bruising, but these effects will disappear gradually over the course of a week. After treatment, you can return to your normal activities, but you should avoid lying down or engaging in rigorous exercise for at least four hours.
          p
            | You will start seeing results within a week, and the improvement will continue throughout the first thirty days. Results typically last three to six months, after which you can repeat the treatment. (Photos courtesy of Stephen H. Dayan, MD, of Chicago.)
          h2 Juvéderm Treatment
          p
            | Juvéderm is a trade name for a form of hyaluronic acid. In its natural state, this substance helps supply nutrients to the skin from the bloodstream. When injected into the the lines and creases around the mouth, it holds water near the surface of the skin, which fills in the lines in a soft and completely natural way. It also acts as a cushion, supporting facial structures that lose elasticity as we age.
          p
            | Juvéderm is also used to provide fullness to the cheeks and lips. It is a long-lasting treatment that lasts from eight to twelve months. Side effects that have been reported include bruising or swelling that last a day or two, and there have been rare reports of hypersensitivity.
          h2 Schedule an Appointment or Complimentary Consultation
          p
            | Call our office or visit our 
            a(href='https://naidudental.com/request-an-appointment/') Request an Appointment
            |  page. If you’re not ready to schedule an intial examination and just have some questions about the procedure, we’ll be happy to schedule you for a complimentary consultation.
    aside.content-sidebar-wrap.entry
      .sidebar-pdg
        #sidebar-box1.side-boxes
          h3
            | Darshan S. Naidu
            br
            | D.M.D.
          hr
          p
            span#sidear-top-address 1906 59th St. West
            br
            span#sidear-top-address Suite H
            span#sidear-top-address
              br
              | Bradenton FL, 34209
            br
            span#sidear-top-num01.exist-pat-num
              | New patients call:
              br
              | (855)725-9467
            br
            span#sidear-top-num02.exist-pat-num
              | All others call:
              br
              | (941)761-9603
        #sidebar-box2.side-boxes
          h3 Comprehensive Dental Care
          p#sidebar-box2-text Restorative and preventive dentistry, implants and cosmetic services.
          #sidebar-box2-button
            router-link(to='/request-an-appointment')
              br
              | REQUEST
              br
              | AN APPOINTMENT
              br
        #sidebar-box3.side-boxes
          h3
            | Map and
            br
            span.side-strong Directions
          p
            img(src='../../assets/images/naidu-dental-map.png')
