.page-invisakign
  Loader(v-if='loading')
  section.inner-header(:style="{ backgroundImage: 'url('+ props.better_featured_image.source_url +')' }")
   .inner-page-banner.inner-page-banner-description Quality dental care can transform your life.
   .clearfix
  section.site-wrapper
   main.content-area
    .content
      article
        h1.content-title Bradenton Invisalign
        .entry-content
          p
            img.alignright.size-medium.wp-image-210(src='http://pom.loc/wp-content/themes/naidu/src/assets/images/bradenton-invisalign-dentistry-142x300.jpg', alt='a-photo-shows-how-easy-bradenton-invisalign-is')
          p
            | If you have always dreamed of straighter teeth and a beautiful smile, you don’t need to wear metal brackets and wires on your teeth for two to three years. Advanced computer technology now makes it possible for Invisalign invisible aligners to efficiently move your teeth with great precision in about half the time. And no one will even know you’re wearing them.
          p
            | Bradenton Invisalign dentist Dr. Darshan Naidu is certified to provide this advanced orthodontic treatment, and he can help you determine if Invisalign is right for you.
          h2 What to Expect with Invisalign Treatment
          p
            | Once you’ve made your decision, Dr. Naidu will do a complete examination, including x-rays and an analysis of the alignment of your teeth. He will create a plan for moving your teeth to the desired positions. He will then obtain detailed impressions of your teeth and send them to the Invisalign lab to be scanned into their computer system. The system is used to plan the best set of movements to bring your teeth into alignment, and it fabricates 12 to 48 clear aligners.
          p
            | Dr. Naidu will then provide you with the first set of aligners, which you will snap on. You will wear the aligners for about two weeks. In the first few days of wearing the aligners your teeth will gently move and the aligners will become loose. You will continue wearing them for the full two weeks, so that the teeth become stabilized in their new positions. You will then snap in a new set of aligners. Generally, you will visit Dr. Naidu about every four to six weeks, so he can make slight adjustments and address any problems.
          h2 The Pros and Cons of Invisalign
          p
            | Invisalign aligners are truly invisible, and no one will know you’re wearing them. Because you can remove them to eat, brush, and floss, the risk of tooth decay and damage is significantly lessened. In addition, there are fewer appointments to schedule, and the ones you do have will be much quicker.
          p
            | However, Invisalign treatment requires a commitment on your part. If you don’t wear the aligners as prescribed, they will be ineffective. Also, the treatment doesn’t work for some people who have certain types of crowding of the teeth. And the advanced technology makes them a bit more expensive than traditional braces.
    aside.content-sidebar-wrap.entry
      .sidebar-pdg
        #sidebar-box1.side-boxes
          h3
            | Darshan S. Naidu
            br
            | D.M.D.
          hr
          p
            span#sidear-top-address 1906 59th St. West
            br
            span#sidear-top-address Suite H
            span#sidear-top-address
              br
              | Bradenton FL, 34209
            br
            span#sidear-top-num01.exist-pat-num
              | New patients call:
              br
              | (855)725-9467
            br
            span#sidear-top-num02.exist-pat-num
              | All others call:
              br
              | (941)761-9603
        #sidebar-box2.side-boxes
          h3 Comprehensive Dental Care
          p#sidebar-box2-text Restorative and preventive dentistry, implants and cosmetic services.
          #sidebar-box2-button
            a(href='#')
              br
              | REQUEST
              br
              | AN APPOINTMENT
              br
        #sidebar-box3.side-boxes
          h3
            | Map and
            br
            span.side-strong Directions
          p
            img(src='../../assets/images/naidu-dental-map.png')
