.page-about-us
  Loader(v-if='loading')
  div(v-if='!loading')
  section.inner-header(:style="{ backgroundImage: 'url('+ props.better_featured_image.source_url +')' }")
   .inner-page-banner.inner-page-banner-description Quality dental care can transform your life.
   .clearfix
  section.site-wrapper
    main.content-area
    .content
      article
        h1.content-title Meet Dr. Darshan Naidu
        .entry-content
          p
            img.alignleft.img-fl(src='http://pom.loc/wp-content/themes/naidu/src/assets/images/meet-dr-naidu-236x300.jpg', alt='', width='', height='')
            | Welcome to my practice. I look forward to working with you to resolve your dental issues. My first priority is to take the time to make sure you feel completely comfortable, so I will listen carefully and understand your interests, ideas, and concerns before I create a comprehensive treatment plan. Together we can find a solution you’ll love.
          h2 Helping People Comes First
          p
            | The ability to transform my patients’ lives by alleviating pain, restoring function, and giving new confidence is what brings me to work every day.
          p
            | I’ve also helped many of my patients overcome their fear of dental work, and I look at it as a fulfilling challenge to convert a person who is afraid into someone who enjoys coming to see me for routine care. You really can be free of that anxiety.
          h2 My Background and Education
          p
            | I grew up in a family of physicians, so helping people is part of who I am. As an undergraduate, I made the decision to become a dentist during a mission trip to help disadvantaged communities in Costa Rica and Nicaragua.
          p
            | After completing my undergraduate degree at University of Florida, I gained admission to Harvard School of Dental Medicine where I completed my dental training. I then focused on helping medically compromised patients, and providing advanced restorative dentistry, during my post-graduate residency at Nova Southeastern University. In addition, I also studied implant dentistry with Dr. Arun Garg in Miami at the Implant Continuum Seminars, and obtained Fellowship status in implantology through the International Dental Implant Association
          p
            | Dentistry is a quickly evolving science, so I am dedicated to the pursuit of continuing education throughout the year to keep up with the latest practices and technology. I’m a member of the American, Florida, and West Coast Dental Associations, the Manatee Dental Society, International Dental Implant Association, Academy of General Dentistry, and the Frank Spear Study Club.
          h2 Special Interests
          p
            | I love living in Bradenton where I’m close to family and friends. In my free time I enjoy traveling, golfing, fishing, tennis, scuba diving, and I’m an avid football, basketball, and baseball fan.
          p I look forward to taking great care of you.
          p Dr. Darshan Naidu
      aside.content-sidebar-wrap.entry
      .sidebar-pdg
        #sidebar-box1.side-boxes
          h3
            | Darshan S. Naidu
            br
            | D.M.D.
          hr
          p
            span#sidear-top-address 1906 59th St. West
            br
            span#sidear-top-address Suite H
            span#sidear-top-address
              br
              | Bradenton FL, 34209
            br
            span#sidear-top-num01.exist-pat-num
              | New patients call:
              br
              | (855)725-9467
            br
            span#sidear-top-num02.exist-pat-num
              | All others call:
              br
              | (941)761-9603
        #sidebar-box2.side-boxes
          h3 Comprehensive Dental Care
          p#sidebar-box2-text Restorative and preventive dentistry, implants and cosmetic services.
          #sidebar-box2-button
            a(href='#')
              br
              | REQUEST
              br
              | AN APPOINTMENT
              br
        #sidebar-box3.side-boxes
          h3
            | Map and
            br
            span.side-strong Directions
          p
            img(src='http://pom.loc/wp-content/themes/naidu/src/assets/images/naidu-dental-map.png')


  