.page-emergency-dentist
  Loader(v-if='loading')
  section.inner-header(:style="{ backgroundImage: 'url('+ props.better_featured_image.source_url +')' }")
   .inner-page-banner.inner-page-banner-description Quality dental care can transform your life.
   .clearfix
  section.site-wrapper
   main.content-area
    .content
      article
        h1.content-title Bradenton Emergency Dentist
        .entry-content
          p
            img.alignnone.size-full.wp-image-194(src='../../assets/images/bradenton-emergency-dentist.jpg', alt='a-woman-experiencing-dental-pain-bradenton-emergency-dentist', align='right')
            | Dr. Darshan Naidu regularly treats people who are experiencing dental emergencies. That’s why he schedules extra time into his office hours, Monday through Thursday from 8 am to 5 pm. He’ll see you today whether or not he’s ever treated you before. He will welcome you, take the time to carefully listen to your thoughts and concerns, and provide you with a solution to your immediate problem along with a treatment plan to restore you to full dental health. He will also ease your dental fear along the way.
          h2 Overcoming Dental Anxiety
          p
            | Dr. Naidu and his staff understand that many people find dental care stressful. That’s why they treat all their patients with respect. If you’re the one in three Americans who suffers from some form of dental anxiety, Dr. Naidu can help you. With sedation dentistry, you can receive dental care without any memory of your appointment, and many of Dr. Naidu’s patients who were formerly fearful now enjoy regular dental care without the stress and anxiety. Click here to learn more about 
            router-link(to='/sedation-dentist') sedation dentistry
            | .
          h2 You Don’t Have to Suffer
          p
            | Dental pain can be caused by a variety of problems from simple tooth decay to cracks and infections. Getting help immediately is important not only for your dental health, but for your peace of mind. Many times dental emergencies have simple solutions, but even when they don’t, patients who get treatment often feel great relief, not just because their pain is gone, but because they understand clearly what options they have. Bradenton emergency dentist Dr. Naidu will help you find the best solution for your emergency.
          h2
    aside.content-sidebar-wrap.entry
      .sidebar-pdg
        #sidebar-box1.side-boxes
          h3
            | Darshan S. Naidu
            br
            | D.M.D.
          hr
          p
            span#sidear-top-address 1906 59th St. West
            br
            span#sidear-top-address Suite H
            span#sidear-top-address
              br
              | Bradenton FL, 34209
            br
            span#sidear-top-num01.exist-pat-num
              | New patients call:
              br
              | (855)725-9467
            br
            span#sidear-top-num02.exist-pat-num
              | All others call:
              br
              | (941)761-9603
        #sidebar-box2.side-boxes
          h3 Comprehensive Dental Care
          p#sidebar-box2-text Restorative and preventive dentistry, implants and cosmetic services.
          #sidebar-box2-button
            a(href='#')
              br
              | REQUEST
              br
              | AN APPOINTMENT
              br
        #sidebar-box3.side-boxes
          h3
            | Map and
            br
            span.side-strong Directions
          p
            img(src='../../assets/images/naidu-dental-map.png')
